# The ID and secret of your GitHub App
APP_ID=45545
WEBHOOK_SECRET=development

# User ID for the GitHub bot user
BOT_USER_ID=57329235

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=

# Get these from Netlify - the site ID from the site settings and
# generate a personal token under user settings
NETLIFY_SITE_ID=67604fb8-ed9b-48e8-b12a-8298bbd835cb
NETLIFY_TOKEN=

# Point this to a valid bot valid key if you want to
PRIVATE_KEY_PATH=
